{% extends 'base1.html' %}
{% load static %}
{% block title %}
    Activate account
{% endblock %}
{% block css %}
    <style type="text/css">
        #auth-second-block {
            display: none;
        }
        #auth-first-block {
            margin-left: auto; margin-right: auto;
            box-shadow: 0 4px 12px rgba(120, 84, 247, 0.2);
        }
        .auth-card-shadow{
            box-shadow: none;
        }
    </style>
{% endblock %}
{% block first-block %}
    <div class="text-center mb-3">
        <h4 class="fw-700 quicksand-font" style="color: #4F515B;">
            Activate account
        </h4>
        <p class="my-3 fs-14">
            Unlock all {{ site_name }} features by activating your account for just
            <strong class="text-primary">{{ currency }} {{ amount }}</strong>
        </p>
    </div>
    <div class="d-grid">
        <button class="button" onclick="initPayment()">
            Activate account
        </button>
    </div>
{% endblock %}
{% block js %}
    <script src="https://checkout.flutterwave.com/v3.js"></script>
    <script>
        function initPayment() {
            $.ajax({
                url: '{% url 'fw_init_payment' %}',
                data: {
                    'intent': 'ACCOUNT_ACTIVATION',
                    'csrfmiddlewaretoken': '{{ csrf_token }}'
                },
                type: 'POST',
                success: function (data) {
                    makeFwPayment(data)
                },
                error: function () {
                    toastr.error('Payment request failed. Please try again later.', 'Error!');
                }
            })
        }
    </script>
{% endblock %}