{% load static %}
{% load utils_tags %}
{% site_name as site_name %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
      <meta name="theme-color" content="#580059FF"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="preconnect" href="https://fonts.gstatic.com">
      <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,500,500i,600,600i,700,700i|Quicksand:300,300i,400,400i,500,500i,600,600i,700,700i"
            rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'vendor/iconkit/css/iconkit.min.css' %}">
        <link href="{% static 'vendor/icofont/icofont.min.css' %}" rel="stylesheet">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
      <link href="{% static 'css/main.css' %}" rel="stylesheet">
    <title>SpinWin | {{ site_name }}</title>
      <style>
          #header{
              background: transparent;
          }
      </style>
  </head>
    <body class="spin-page">
        <div id="header">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-4 col-md-6 mx-auto">
                        <div class="row gx-2 align-items-center">
                            <div class="col mx-auto">
                                <div class="spin-bal-wrap">
                                    <div class="d-flex justify-content-center align-items-center">
                                        {% if user.country == 'KE' %}
                                            <button class="top-up-btn" data-bs-toggle="modal" data-bs-target="#top-up-modal">
                                                Top Up
                                            </button>
                                            {% else %}
                                            <a href="{% url 'fw_buy_spins' %}" class="top-up-btn a-no-dec">
                                                Top Up
                                            </a>
                                        {% endif %}
                                        <p class="my-0 spinwin-bal spin-bal ms-3">
                                            Ksh. {{ user.spinwin_bal }}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="w-100 center-screen">
            <div class="container-fluid">
                    <div class="row align-items-center">
                        <div class="col-lg-8 mx-auto" style="margin-bottom: 5rem">
                            <div id="spin-wheel-container" class="text-center">
                                <img src="{% static 'images/spin_wheel_pointer.png' %}"
                                     class="prize-pointer start-spin" alt="Pointer">
                                <canvas id="wheel-canvas" width="400" height="400" data-responsiveScaleHeight="true">
                                    <p class="text-white text-center">
                                        Sorry, your browser doesn't support canvas. Please try another one.
                                    </p>
                                </canvas>
                            </div>
                            <div class="text-center mt-4">
                                <button class="btn btn-primary" id="spin-btn">
                                    Spin
                                </button>
                            </div>
                        </div>
                    </div>
        </div>
        </div>

        <!-- Welcome modal -->
        <div class="modal fade custom spin-page" id="welcome-modal" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered md">
                <div class="modal-content">
                    <div class="modal-body text-center">
                        <h4 class="title fw-700 primary-color">
                            SpinWin
                        </h4>
                        <p class="text-white fs-14">
                            SpinWin gives you a chance to win upto <strong class="primary-color">Ksh. 1000</strong> in every spin.
                            Click the "Spin" button to get started.
                        </p>
                        <button class="btn btn-primary" data-bs-dismiss="modal">
                            Get Started
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Top up modal -->
        <div class="modal fade custom spin-page" id="top-up-modal" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-sm">
                <div class="modal-content">
                    <div class="modal-body">
                        <h4 class="title fw-700 primary-color text-center">
                            Top up
                        </h4>
                        <form id="top-up-form">
                            <ul class="form-errors text-danger fs-14 mt-1" style="display: none" data-label="__all__">

                            </ul>
                            <div class="mb-3">
                                <label for="top-up-amount" class="fs-14 fw-500 mb-2">
                                    Amount in KES
                                </label>
                                <input type="number" class="form-control fs-14" id="top-up-amount" required min="20">
                                <ul class="form-errors text-danger fs-14 mt-1" style="display: none" data-label="amount">

                                </ul>
                            </div>
                            <div class="text-center">
                                <button class="btn btn-primary">
                                    Top up
                                </button>
                            </div>
                        </form>
                        <hr style="background: #F2DF5A">
                        <p class="text-center text-white fs-14 my-1">
                            You can top up manually through Mpesa paybill
                            <span class="primary-color">{{ paybill_number }}</span>. Use
                            <span class="primary-color">{{ account_number }}</span> as account number.
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Win modal -->
        <div class="modal fade custom spin-page" id="win-modal" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered md">
                <div class="modal-content">
                    <div class="modal-body text-center">
                        <h3 class="title fw-700 primary-color">
                            Congratulations
                        </h3>
                        <p class="text-white fs-16 my-2">
                            You won
                        </p>
                        <h3 class="title fw-700 primary-color" id="won-amount">
                            Ksh. 50
                        </h3>
                        <button class="btn btn-primary mt-3" data-bs-dismiss="modal">
                            Continue
                        </button>
                    </div>
                </div>
            </div>
        </div>


        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/latest/TweenMax.min.js"></script>
        <script src="{% static 'vendor/Winwheel.js' %}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
        <script src="https://kit.fontawesome.com/e59b1154dc.js" crossorigin="anonymous"></script>
        <script src="{% static 'vendor/moment.js' %}"></script>
        <script src="{% static 'vendor/tippy.all.min.js' %}"></script>
        <script src="{% static 'js/main.js' %}"></script>
        {% include 'messages.html' %}
        {% include 'user_alert_websocket.html' %}
        {% include 'change-utc-offset.html' %}
        <script>
            let welcomeModalEl = document.getElementById('welcome-modal');
            let welcomeModal = new bootstrap.Modal(welcomeModalEl, {backdrop: 'static'});
            let winModalEl = document.getElementById('win-modal');
            let winModal = new bootstrap.Modal(winModalEl);
            const casinoAudio = new Audio('{% static 'audio/casino.mp3' %}');
            casinoAudio.loop = true;
            let spinAudio = new Audio('{% static 'audio/spin.mp3' %}');
            let segmentsOptions = {{ segments_options }};
            let winWheel;
            let winWheelCanvas = $('#wheel-canvas');
            let acknowledgeURL;
            let congratsAudio = new Audio('{% static 'audio/congrats.wav' %}');
            let applauseAudio = new Audio('{% static 'audio/applause.mp3' %}');

            welcomeModalEl.addEventListener('hidden.bs.modal', function (event) {
                casinoAudio.play();
            })

            function createWinWheel(segmentsOptions, canvasId) {

                let width = $(window).width();
                let outerRadius;
                if (width >= 992) {
                    outerRadius = 180;
                    winWheelCanvas.attr('width', '400');
                    winWheelCanvas.attr('height', '400');
                } else {
                    outerRadius = 145;
                    winWheelCanvas.attr('width', '330');
                    winWheelCanvas.attr('height', '330');
                }

                return new Winwheel({
                    'canvasId': canvasId,
                    'outerRadius': outerRadius,
                    'innerRadius': 0,
                    'textFontSize': 18,
                    'textMargin': 20,
                    'textAlignment': 'outer',
                    'numSegments': segmentsOptions.length,
                    'responsive': true,
                    'segments': segmentsOptions,
                    'animation': {
                        'type': 'spinToStop',
                        'duration': 10,
                        'spins': 10,
                        'callbackFinished': alertPrize,  // Function to call when the spinning has stopped.
                        'callbackSound': playSpinSound,   // Called when the tick sound is to be played.
                        'soundTrigger': 'pin'        // Specify pins are to trigger the sound.
                    },
                    'pins': {
                        'number': segmentsOptions.length,
                        'fillStyle': '#e5a227',
                        'outerRadius': 5,
                        'lineWidth': 1,
                        'strokeStyle': '#e5a227',
                        'margin': -14
                    },
                })
            }

            $(document).ready(function () {
                winWheel = createWinWheel(segmentsOptions, 'wheel-canvas')
                setTimeout(function () {
                    welcomeModal.show();
                }, 1000);
            })

            $(window).on('resize', function () {
                winWheel = createWinWheel(segmentsOptions, 'wheel-canvas')
            })

            function acknowledgeSpin() {
                $.ajax({
                    url: acknowledgeURL,
                    data: {
                        'csrfmiddlewaretoken': '{{ csrf_token }}'
                    },
                    type: 'POST',
                    success: function (data) {
                        if (parseFloat(data['award']) > 0) {
                            $('#won-amount').text('Ksh. ' + data['award']);
                            winModal.show();
                            // Congratulations
                            congratulationsStart();
                        } else {
                            toastr.info('Its a loose turn', 'Info!');
                        }
                    },
                    error: function () {
                        //
                    }
                })
            }
            
            function alertPrize(indicatedSegment) {
                $('#spin-btn').prop('disabled', false);
                resetWheel();
                acknowledgeSpin();
            }
            
            function playSpinSound() {
                // Stop and rewind the sound if it already happens to be playing.
                spinAudio.pause();
                spinAudio.currentTime = 0;

                // Play the sound.
                spinAudio.play();
                setTimeout(function(){ spinAudio.pause() }, 30);
            }

            function congratulationsStart() {
                applauseAudio.currentTime = 0;
                congratsAudio.currentTime = 0;
                applauseAudio.play();
                congratsAudio.play();
            }

            function congratulationsStop() {
                applauseAudio.pause();
                congratsAudio.pause();
            }

            winModalEl.addEventListener('hidden.bs.modal', function (event) {
                congratulationsStop();
            })

            // Start spin
            function startSpin(stop_segment) {
                // Stop any current animation.
                winWheel.stopAnimation(false);

                // Reset the rotation angle to less than or equal to 360 so spinning again works as expected.
                // Setting to modulus (%) 360 keeps the current position.
                winWheel.rotationAngle = winWheel.rotationAngle % 360;

                // Set the stopAngle of the animation before starting the spin.
                winWheel.animation.stopAngle = winWheel.getRandomForSegment(stop_segment);

                // Start the spin animation.
                winWheel.startAnimation();
            }

            function resetWheel() {
                winWheel.stopAnimation(false)
                winWheel.rotationAngle = 0;
                winWheel.draw();
            }

            // Start spin
            $('#spin-btn').on('click', function (event) {
                event.preventDefault();
                let btn = $(this);
                btn.prop('disabled', true);

                $.ajax({
                    url: '{% url 'spinwin_spin' %}',
                    data: {
                        'csrfmiddlewaretoken': '{{ csrf_token }}',
                    },
                    type: 'POST',
                    success: function (data) {
                        acknowledgeURL = data['acknowledge_url'];
                        // Show spins left
                        $('.spinwin-bal').text('Ksh. ' + data['spinwin_bal']);
                        // Start spin
                        startSpin(data['stop_segment'])
                    },
                    error: function (data) {
                        btn.prop('disabled', false);
                        data = data.responseJSON;
                        if (data) {
                            if (data.hasOwnProperty('message')) {
                                let msg = data['message'];
                                if (msg === 'spin_fast') {
                                    toastr.info(
                                        'Spin too fast. Avoid using multiple devices.',
                                        'Info!',
                                    )
                                } else if (msg === 'less_spin_amount') {
                                    // Less spin amount
                                    {% if user.country == 'KE' %}
                                        toastr.info(
                                            'Please top up your SpinWin balance to continue.', 'Info!',
                                        )
                                        topUpModal.show();
                                        {% else %}
                                        location.href = '{% url 'fw_buy_spins' %}';
                                    {% endif %}
                                }
                            }
                        } else {
                            toastr.error(
                                'An error has occurred. Please try again or reload this page.',
                                'Error!',
                            )
                        }
                    }
                })
            })

            // Top up
            let topUpModal = new bootstrap.Modal(document.getElementById('top-up-modal'));
            $('#top-up-form').on('submit', function (event) {
                event.preventDefault();
                let form = this;
                let btn = $(this).find('button');
                let btnText = btn.text();
                btn.prop('disabled', true);
                btn.text('Processing...');

                hideFormErrors(form);

                $.ajax({
                    url: '{% url 'spinwin_top_up' %}',
                    data: {
                        'amount': $('#top-up-amount').val(),
                        'csrfmiddlewaretoken': '{{ csrf_token }}'
                    },
                    type: 'POST',
                    success: function () {
                        btn.text(btnText);
                        btn.prop('disabled', false);
                        form.reset();
                        topUpModal.hide();
                        toastr.success('Payment request sent to your M-pesa number.', 'Success!');
                    },
                    error: function (data) {
                        btn.text(btnText);
                        btn.prop('disabled', false);
                        data = data.responseJSON;
                        if (data) {
                            if (data.hasOwnProperty('errors')) {
                                showFormErrors(data['errors'], 'top-up-form');
                            }
                        } else {
                            toastr.error('Payment request failed. Please send your payment manually.', 'Error!');
                        }
                    }
                })
            })
        </script>
    </body>
</html>
