{% for income in incomes %}
    <div class="bulk-sms-summary-block mb-3">
        <h5 class="fw-700 fs-14">Ksh. {{ income.amount }}</h5>
        <div class="d-flex justify-content-between">
            <p class="my-0 fs-12">
                {{ income.get_source }}
            </p>
            <p class="my-0 fs-12 text-primary to_local_datetime" data-utc="{{ income.created_at|date:'Y-m-d H:i' }}">

            </p>
        </div>
    </div>
    {% empty %}
    <div class="text-center">
        <i class="fa fa-money-check-alt" style="font-size: 50px; color: #9e9c9c"></i>
        <p class="fs-14 my-2">
            Earnings will appear here.
        </p>
    </div>
{% endfor %}
{% if incomes.paginator.num_pages > 1 %}
    <div class="paginate">
        <div class="d-flex justify-content-center align-items-center">
            {% if incomes.has_previous %}
                <a href="#" class="btn btn-primary custom btn-sm go-page" data-page="1">
                    <i class="ik ik-chevrons-left"></i>
                </a>
                <a href="#" class="ms-2 btn btn-primary custom btn-sm go-page"
                    data-page="{{ incomes.previous_page_number }}">
                    <i class="ik ik-chevron-left"></i>
                </a>
            {% endif %}
            <div class="mx-3">
                <p class="my-0 fs-14">
                    Page {{ incomes.number }} of {{ incomes.paginator.num_pages }}
                </p>
            </div>
            {% if incomes.has_next %}
                <a href="#" class="me-2 btn btn-primary custom btn-sm go-page"
                    data-page="{{ incomes.next_page_number }}">
                    <i class="ik ik-chevron-right"></i>
                </a>
                <a href="#" class="btn btn-primary custom btn-sm go-page"
                    data-page="{{ incomes.paginator.num_pages }}">
                    <i class="ik ik-chevrons-right"></i>
                </a>
            {% endif %}
        </div>
    </div>
{% endif %}
