{% extends 'base1.html' %}
{% load static %}
{% block title %}Password reset done{% endblock %}
{% block css %}
    <style type="text/css">
        #auth-second-block {
            display: none;
        }
        #auth-first-block {
            margin-left: auto; margin-right: auto;
            box-shadow: 0 4px 12px rgba(120, 84, 247, 0.2);
        }
        .auth-card-shadow{
            box-shadow: none;
        }
    </style>
{% endblock %}
{% block first-block %}
    <div class="text-center">

        <h4 class="fw-700" style="color: #4F515B;">Password reset</h4>

    </div>
    <div class="text-center">
        <p class="fs-14">
            We have sent you an sms with instructions on how to reset you account password.
        </p>
    </div>
    <div class="d-grid mb-3 text-center">
        <a href="{% url 'password_reset' %}" class="button">
            Not received? Retry
        </a>
    </div>
{% endblock %}
