{% load i18n %}{% autoescape off %}
{% blocktrans %}Hi, You're receiving this email because you requested a password reset for your user account at JSoftMedia.{% endblocktrans %}

{% trans "Please go to the following page and choose a new password:" %}
{% block reset_link %}
{{ url_path }}
{% endblock %}

{% blocktrans %}Your username in case you forgot is {{ user }}.{% endblocktrans %}

{% trans "If you experience any problem, feel free to email us at support@jsoftmedia.com. Looking forward to help you." %}

{% trans "Thank you for choosing our services!" %}

{% blocktrans %}The JSoftMedia Team{% endblocktrans %}

{% endautoescape %}
